name: Checks

on:
  push:
    branches:
      - main
    tags:
      - "**"
  pull_request: {}

env:
  COLUMNS: 150
  UV_PYTHON: 3.12
  UV_FROZEN: "1"

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - run: uv sync --all-extras --all-packages --group lint

      - uses: pre-commit/action@v3.0.0
        with:
          extra_args: --all-files --verbose
        env:
          SKIP: no-commit-to-branch

      - run: uv build --all-packages
      - run: ls -lh dist/

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        pydantic-ai-version: [min, latest]
    name: test (pydantic-ai ${{ matrix.pydantic-ai-version }})
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - run: mkdir .coverage
      - if: matrix.pydantic-ai-version == 'min'
        run: uv sync --all-extras --group dev --override "pydantic-ai==1.25.1"
      - if: matrix.pydantic-ai-version == 'latest'
        run: uv sync --all-extras --group dev --upgrade-package pydantic-ai
        env:
          UV_FROZEN: "0"
      - run: make test
